body{
	background: #000;
	width: 100%;
	height: 100%;
}

#player{
	width: 100%;
	height: 100%;
	/*background-image: url(../../gif/0/d.gif);*/
	transition: all 0.2s ease-out;
	background-image: url(../images/common/smoke.gif);
	/*background-repeat : no-repeat;*/
	background-repeat : repeat;
	background-position: center center;
	/*background: url(../images/common/smoke.gif) center center;*/
	/*background-size:contain;*/
}